agency/workflows/CEREBRO_WHATSAPP_ALEX_META.json
{
  "name": "CEREBRO_WHATSAPP_ALEX_META_API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-alex-v8",
        "options": {}
      },
      "id": "58e18f28-2c4f-411d-a258-da1cbd548ddb",
      "name": "Webhook VAPI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1296, 288],
      "webhookId": "0d16f771-12c0-4321-afc2-e5441d39ac79"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-alex-v8",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4c1a96d8-bf93-4043-b969-20d6747cc215",
      "name": "Webhook WA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1296, 464],
      "webhookId": "e149beeb-5152-4262-8ea1-ac7544c9005d"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "chat-alex-v8",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "meta-verify-webhook",
      "name": "Meta Verify GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1296, 656]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "meta-verify-respond",
      "name": "Respond Verify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-1088, 656]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\"}",
        "options": {}
      },
      "id": "cb7ab2ab-8764-4046-9743-7cb4fb30b60f",
      "name": "Respond to WA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [816, 352]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "1104497082748018",
        "recipientPhoneNumber": "={{ $('Code WA Extractor1').item.json.phone }}",
        "text": "={{ $json.output }}"
      },
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [1520, 560],
      "id": "d851cdf8-241c-47e6-948b-4ebdf3ba52ba",
      "name": "Enviar texto WA Cloud",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06720e77-cabd-4a32-aaa5-49a8f62e6ef0",
              "name": "texto",
              "value": "={{ $json.texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [96, 320],
      "id": "220fe58f-f027-48ee-b759-b5614ebb7114",
      "name": "texto"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $json.body || {};\n\n// VERIFICAMOS SI ES META CLOUD API\nif (webhookData.entry && webhookData.entry[0].changes) {\n    const value = webhookData.entry[0].changes[0].value;\n    // Si es un status update (read/delivered), lo ignoramos devolviendo vacio\n    if (value.statuses) return []; \n    \n    const msg = value.messages ? value.messages[0] : {};\n    return [{\n        json: {\n            chat_id: msg.from || '',\n            instancia: 'Meta Cloud API',\n            server: 'Meta',\n            usuario: value.contacts ? value.contacts[0].profile.name : 'Usuario',\n            id: msg.id || '',\n            'tipo de mensaje': msg.type || 'unknown',\n            texto: msg.text ? msg.text.body : '',\n            fromMe: false\n        }\n    }];\n}\n\n// FALLBACK PARA EVOLUTION API VIEJA\nconst data = webhookData.data || webhookData;\nreturn [{\n    json: {\n        chat_id: data.key?.remoteJid || '',\n        instancia: webhookData.instance || '',\n        server: webhookData.server_url || '',\n        usuario: data.pushName || '',\n        id: data.key?.id || '',\n        'tipo de mensaje': data.messageType || 'conversation',\n        texto: data.message?.conversation || data.message?.extendedTextMessage?.text || '',\n        fromMe: data.key?.fromMe || false\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-896, 464],
      "id": "16358467-f6f2-4f05-8d0d-c9bfa4e1cfab",
      "name": "Extractor Meta/Evolution"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json['tipo de mensaje'] }}",
                    "rightValue": "text",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  {
                    "leftValue": "={{ $json['tipo de mensaje'] }}",
                    "rightValue": "conversation",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-544, 448],
      "id": "c11ebc63-468d-4352-8697-f7647a8f4736",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b175ad4a-2150-4876-86d4-61a79918d103",
              "name": "texto",
              "value": "={{ $json.texto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [304, 320],
      "id": "b500d99f-2bb4-43c0-8bef-5f256c46190a",
      "name": "texto2"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook WA').first().json.body || {};\n\n// META CLOUD API FORMAT\nif (webhookData.entry && webhookData.entry[0].changes) {\n    const value = webhookData.entry[0].changes[0].value;\n    if (value.statuses) return []; \n    if (!value.messages || value.messages.length === 0) return [];\n    \n    let phone = value.messages[0].from;\n    let final_text = \"Me gustaría saber más.\";\n    if ($input.first().json.texto) {\n        final_text = $input.first().json.texto;\n    } else if (value.messages[0].text && value.messages[0].text.body) {\n        final_text = value.messages[0].text.body;\n    }\n    return [{ json: { phone: phone, text: final_text } }];\n}\n\n// EVOLUTION API FORMAT\nconst data = webhookData.data || webhookData;\nif (data.key?.fromMe === true || data.fromMe === true) { return []; }\nlet rawPhone = data.key?.remoteJid || data.sender || '';\nlet phone = rawPhone.split('@')[0].replace(/\\D/g, '');\nif (!phone) return []; \nlet final_text = $input.first().json.texto || $input.first().json.text || data.message?.conversation || data.message?.extendedTextMessage?.text || \"Me gustaría saber más\";\n\nreturn [{ json: { phone: phone, text: final_text } }];\n"
      },
      "id": "4ba5176f-caa2-44ab-ab03-09adb8fe0ca9",
      "name": "Code WA Extractor1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 592]
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1104, 464],
      "id": "4a5ebb1c-1b63-4fef-8742-b2e067ab9ea6",
      "name": "Wait"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "1104497082748018",
        "recipientPhoneNumber": "={{ $json.number }}",
        "text": "={{ $json.text }}"
      },
      "id": "56d5cbf4-e57f-4409-9c46-b01a974d6e8e",
      "name": "Enviar Texto (Vapi WA Cloud)",
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [-224, 208],
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1008, 736],
      "id": "ca713256-3baf-4d22-9d4e-893b89e5d2f4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RHRloPD4EDOQSqy3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User:{{ $('Extractor Meta/Evolution').item.json.usuario || 'Cliente' }}\nMessage: {{ $json.text }}",
        "options": {
          "systemMessage": "=# ALEX — NEUROVA AUTHORITY ENGINE (CHAT-OPTIMIZED)\n\n## IDENTITY\nYou are Alex, an elite AI Sales Partner for Neurova. You handle high-stakes multi-channel chat conversations (WhatsApp/Instagram) with business owners. You are sophisticated, consultative, empathetic, and direct. You are an expert at identifying revenue leaks.\n\n## GRACEFUL EXIT RULE (CRITICAL — READ CAREFULLY)\nWhen you detect a rejection, auto-reply, bot message, or dead conversation, you MUST:\n1. Send a SHORT, WARM farewell message (1-2 lines max, friendly and professional)\n2. On a SEPARATE NEW LINE after your farewell, add the hidden marker `---END---`\n\n**⚠️ ABSOLUTE RULES:**\n- The `---END---` marker is for INTERNAL PROCESSING ONLY. The system will strip it before sending.\n- NEVER write `[STOP]`, `STOP`, `[END]`, or any other tag inside the visible message text.\n- NEVER mention that the conversation is ending in a robotic way.\n- Your farewell must sound like a HUMAN saying goodbye warmly.\n\n*Triggers for graceful exit:*\n- \"No me interesa\" / \"Not interested\" / \"No gracias\"\n- Automatic replies (\"Gracias por contactarnos...\")\n- Bot responses with menus or URLs\n- Out-of-office messages\n- No response after your message (follow-up scenario)\n- Any form of rejection or disinterest\n\n*Example farewell responses (COPY THIS TONE):*\n- **ES**: \"¡Perfecto, gracias por tu tiempo! Si en algún momento querés explorar cómo la IA puede ayudar a tu negocio, acá estamos. ¡Éxitos! 🙌\\n---END---\"\n- **EN**: \"No worries at all! If you ever want to explore automation, we're here. Best of luck! 🙌\\n---END---\"\n- **DE**: \"Kein Problem! Wir sind jederzeit erreichbar falls Interesse besteht. Alles Gute! 🙌\\n---END---\"\n\n## CRITICAL RULES\n1. **LANGUAGE MIRRORING**: Respond EXCLUSIVELY in the language used by the lead. \n   - English -> English | Spanish -> Spanish | etc.\n2. **BREVITY**: Max 2 short paragraphs. Max 50 words per message.\n3. **AUTHORITY**: Speak as a peer to the business owner. No \"telemarketer\" phrases like \"Can I have 90 seconds?\".\n4. **GOAL**: The only goal is a Revenue Audit or a Demo. Do not \"over-chat\".\n\n## PRICING & BUDGET RULES (CRITICAL)\n1. **No Upfront Quotes**: To avoid budget issues, do NOT give firm prices or estimates before an audit.\n2. **Strategy**: If they ask for a price, tell them you need them to complete the audit first to provide a firm analysis and budget. Send them this link: https://generarise.space/?lang=es#contacto\n3. **Official Exchange Rate**: 1 USD = 1400 ARS (Argentine Pesos). Keep this in mind if they mention local currency.\n\n## USEFUL LINKS & RESOURCES\nUse these assets dynamically to close the sale or provide information when requested:\n- **Video Demo (Para cerrar ventas)**: https://generarise.space/assets/GenerArise.mp4\n- **Onboarding / Requerimientos**: https://generarise.space/ONBOARDING_REQUERIMIENTOS.html\n- **Contrato**: https://generarise.space/contrato.html\n\n## CONTEXT VARIABLES\n- {{client_name}} — Lead's name\n- {{company}} — Business name\n- {{industry}} — Business sector\n- {{ai_diagnosis}} — Pre-generated business leak analysis\n\n## CONVERSATION FLOW (CHAT)\n\n### 1. THE ADAPTIVE HOOK\n- **ES**: \"Hola {{client_name}}. Note un detalle en {{company}}: están dejando consultas sin atender después de hora. ¿Tienen idea de cuánto ingreso se les escapa por ahí?\"\n- **EN**: \"Hi {{client_name}}. Spotted a leak at {{company}}: client inquiries are going unanswered after hours. Any idea how much revenue is slipping through?\"\n\n### 2. THE CONSULTATIVE PIVOT\nIf they answer or show curiosity:\n- **ES**: \"No pretendo quitarte tiempo. Solo quería mostrarte cómo nuestra IA Employee cubre esos huecos 24/7. Te puedo pasar una demo corta por acá mismo. ¿Te sirve?\"\n- **EN**: \"Don't want to waste your time. Just wanted to show how our AI Employee covers those gaps 24/7. I can send a quick demo right here. Sound fair?\"\n\n### 3. THE AUDIT CLOSE\n- **ES**: \"Buenísimo. Te paso este link para un diagnóstico rápido de 2 min: https://generarise.space/?lang=es#contacto. Ahí vas a ver los números reales para {{company}}. Avisame cuando lo termines.\"\n- **EN**: \"Great. Here is a 2-min diagnostic link: https://generarise.space/?lang=es#contacto. It will show you the real numbers for {{company}}. Let me know when you finish it.\"\n\n### 4. POST-AUDIT (CRITICAL - IF THEY COMPLETED THE AUDIT)\nIf the user indicates they have completed the audit / diagnostic:\n- **Rule**: Do NOT ask open-ended questions about their findings. Do NOT act confused. IMMEDIATELY move to book a strategy call to present the solution and exact pricing.\n- **ES**: \"Excelente. Ya recibí los datos de tu auditoría en nuestro sistema. El siguiente paso es agendar una llamada rápida de 15 min donde te mostraré el ROI proyectado y cómo nuestra IA aplicaría exactamente a tu caso. Podes elegir el horario que mejor te quede acá: https://cal.com/gustavo-a.-dornhofer-nqjqos/auditoria-estrategica-ia/. ¿Qué día te queda mejor?\"\n- **EN**: \"Excellent. I just received your audit data in our system. Next step is a quick 15-min strategy call where I'll show you the projected ROI and exactly how our AI applies to your case. You can pick a time here: https://cal.com/gustavo-a.-dornhofer-nqjqos/auditoria-estrategica-ia/. What day works best?\"\n\n## VOICE & TONE\n- Professional, sharp, but human.\n- Use emojis sparingly (max 1 per message) to look modern but not childish.\n- Never say \"I am an AI\". If asked, say \"I manage the Sales Engine at Neurova.\"\n- If the conversation is clearly dead or robotic → send a warm farewell (never send raw tags like [STOP])\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1008, 592],
      "id": "f594e9a2-4d02-4ab8-a324-ef6855b0185f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "6B9DEA02F90C-4D11-9543-583DB047694E"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1120, 736],
      "id": "99294849-900c-4dc3-844b-ffcb0d86ba8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "## CEREBRO WHATSAPP META CLOUD\nAdaptado 100% para la API Oficial de Meta."
      },
      "id": "968ec58e-ed7b-4d43-8856-0974f45fc084",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, 144]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "end-of-call-report",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "tool-calls",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "8597ee33-2af6-4ca7-add7-6b58d2f0490e",
      "name": "Filtro Vapi",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [-864, 288]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"success\"\n}\n",
        "options": {}
      },
      "id": "46483235-f98f-431b-9fad-09d6ba7d2059",
      "name": "Responder OK Ya!1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1072, 288]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nlet originalVapiData = null;\nconst possibleNames = [\"Webhook VAPI\", \"Webhook VAPI ⚡\", \"Webhook\", \"Webhook ⚡\"];\nfor (let name of possibleNames) {\n    try {\n        originalVapiData = $(name).first().json.body || $(name).first().json;\n        if (originalVapiData) break;\n    } catch (e) { }\n}\nif (!originalVapiData) { originalVapiData = $input.all()[0].json.body || $input.all()[0].json; }\nlet phoneToUse = null;\nlet textToUse = \"🚀 ¡Hola! Soy Alex de The GenerArise. Aquí tienes tu auditoría y el enlace que solicitaste: https://generarise.space/#contacto\";\n\nif (originalVapiData?.message?.call?.customer?.number) {\n    phoneToUse = originalVapiData.message.call.customer.number;\n}\nif (!phoneToUse && originalVapiData?.message?.toolCalls?.[0]?.function?.arguments) {\n    let args = originalVapiData.message.toolCalls[0].function.arguments;\n    if (typeof args === 'string') { try { args = JSON.parse(args); } catch(e){} }\n    phoneToUse = args?.phone || args?.number;\n}\nif (!phoneToUse) {\n    const sd = originalVapiData?.message?.call?.analysis?.structuredData || originalVapiData?.message?.call?.artifact?.structuredData;\n    if (sd) { phoneToUse = sd.phone || sd.number || sd.telefono; }\n}\nif (!phoneToUse) {\n    let transcriptCompleto = \"\";\n    if (originalVapiData?.message?.artifact?.transcript) {\n        transcriptCompleto = originalVapiData.message.artifact.transcript;\n    } else if (originalVapiData?.message?.artifact?.messages) {\n        let arreglo = originalVapiData.message.artifact.messages;\n        transcriptCompleto = arreglo.map(m => m.message).join(\" \");\n    }\n    if (transcriptCompleto) {\n        let textoLimpio = transcriptCompleto.replace(/[\\s\\-]/g, '');\n        let coincidencia = textoLimpio.match(/\\d{10,13}/);\n        if (coincidencia) { phoneToUse = coincidencia[0]; }\n    }\n}\nif (phoneToUse) {\n    phoneToUse = String(phoneToUse).replace(/\\D/g, ''); \n    if (phoneToUse.length === 10) {\n        phoneToUse = '521' + phoneToUse; \n    } else if (phoneToUse.length === 12 && phoneToUse.startsWith('52')) {\n        phoneToUse = '521' + phoneToUse.slice(2);\n    }\n}\nif (phoneToUse && phoneToUse.length >= 10) {\n    results.push({ json: { number: phoneToUse, text: textToUse } });\n    return results; \n} else {\n    return []; \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-448, 208],
      "id": "9d3eb71e-c624-46db-9ed2-eda5ff3d8f5f",
      "name": "Code VAPI Extractor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f905102-7fa2-4b85-9b5f-5482e6b5186f",
              "leftValue": "={{ $json.output }}",
              "rightValue": "--END---",
              "operator": { "type": "string", "operation": "notContains" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1296, 592],
      "id": "c24cc57d-0173-4acd-8bea-164d300b244f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || $json.text || $json.message || $input.item.json.output || '';\nconst cleanMessage = raw.split('---END---')[0].split('--END---')[0].trim();\nconst finalMessage = cleanMessage || '¡Gracias por tu tiempo! Si en algún momento querés explorar cómo la IA puede ayudar a tu negocio, acá estamos. ¡Éxitos! 🙌';\nreturn [{ json: { cleanMessage: finalMessage } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 736],
      "id": "44f76286-3334-4e58-bab1-deec264df902",
      "name": "Code Graceful Exit"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "1104497082748018",
        "recipientPhoneNumber": "={{ $('Code WA Extractor1').item.json.phone }}",
        "text": "={{ $json.cleanMessage }}"
      },
      "type": "n8n-nodes-base.whatsapp",
      "typeVersion": 1,
      "position": [1936, 736],
      "id": "3455d799-69b3-4cd4-b4a2-16431b792c1f",
      "name": "Enviar texto1 WA Cloud",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.generarise.space/api/webhooks/whatsapp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Webhook WA').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-1088, 464],
      "id": "adb52f62-7ae4-4cad-8c7f-e876fdc49de6",
      "name": "HTTP Request to Dashboard"
    }
  ],
  "connections": {
    "Webhook WA": {
      "main": [
        [
          {
            "node": "Extractor Meta/Evolution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Verify GET": {
      "main": [
        [
          {
            "node": "Respond Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor Meta/Evolution": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "texto",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "texto": {
      "main": [
        [
          {
            "node": "texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto2": {
      "main": [
        [
          {
            "node": "Code WA Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code WA Extractor1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enviar texto WA Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Graceful Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Graceful Exit": {
      "main": [
        [
          {
            "node": "Enviar texto1 WA Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook VAPI": {
      "main": [
        [
          {
            "node": "Responder OK Ya!1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Vapi": {
      "main": [
        [
          {
            "node": "Code VAPI Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code VAPI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code VAPI Extractor": {
      "main": [
        [
          {
            "node": "Enviar Texto (Vapi WA Cloud)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
