agency/workflows/MONITOR_EVOLUTION_HEALTH.json
{
  "name": "🛡️ MONITOR — Evolution API Health",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 5 }] }
      },
      "id": "cron-trigger",
      "name": "Cada 5 Minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Instancias a monitorear\nconst instances = [\n  { name: 'GenerAriseV2', key: $env.EVOLUTION_KEY_GENERARISE || 'TU_KEY' },\n  { name: 'Argenterio', key: $env.EVOLUTION_KEY_ARGENTERIO || 'TU_KEY' },\n  { name: 'durando',    key: $env.EVOLUTION_KEY_DURANDO    || 'TU_KEY' },\n];\n\nconst EVOLUTION_URL = 'https://trafic.generarise.space';\nconst results = [];\n\nfor (const inst of instances) {\n  try {\n    const res = await fetch(`${EVOLUTION_URL}/instance/connectionState/${inst.name}`, {\n      headers: { 'apikey': inst.key }\n    });\n    const data = await res.json();\n    const state = data?.instance?.state || 'unknown';\n    results.push({\n      name: inst.name,\n      state: state,\n      ok: state === 'open',\n      emoji: state === 'open' ? '✅' : '🔴'\n    });\n  } catch(e) {\n    results.push({\n      name: inst.name,\n      state: 'ERROR: ' + e.message,\n      ok: false,\n      emoji: '❌'\n    });\n  }\n}\n\nconst allOk = results.every(r => r.ok);\nconst statusLines = results.map(r => `${r.emoji} *${r.name}*: ${r.state}`).join('\\n');\nconst timestamp = new Date().toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' });\n\nreturn [{\n  json: {\n    allOk,\n    results,\n    statusLines,\n    timestamp,\n    mensaje: allOk\n      ? `✅ *Sistema Neurova OK*\\n${statusLines}\\n\\n_${timestamp}_`\n      : `🚨 *ALERTA — Instancia Caída*\\n\\n${statusLines}\\n\\n⚡ Entrá a: https://trafic.generarise.space/manager/ para reconectar\\n\\n_${timestamp}_`\n  }\n}];"
      },
      "id": "check-instances",
      "name": "Chequear Instancias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.allOk }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-down",
      "name": "¿Hay caída?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $('Chequear Instancias').item.json.mensaje }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-alert",
      "name": "🚨 Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 200],
      "credentials": { "telegramApi": { "id": "TU_CREDENTIAL_ID", "name": "Telegram" } }
    },
    {
      "parameters": {
        "jsCode": "// Solo loguear que todo está OK (no manda mensaje para no spamear)\nconsole.log('✅ Todas las instancias OK —', new Date().toISOString());\nreturn [{ json: { status: 'ok' } }];"
      },
      "id": "log-ok",
      "name": "Log OK (sin alerta)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Cada 5 Minutos": { "main": [[{ "node": "Chequear Instancias", "type": "main", "index": 0 }]] },
    "Chequear Instancias": { "main": [[{ "node": "¿Hay caída?", "type": "main", "index": 0 }]] },
    "¿Hay caída?": {
      "main": [
        [{ "node": "🚨 Alerta Telegram", "type": "main", "index": 0 }],
        [{ "node": "Log OK (sin alerta)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "monitoring" }]
}
