argenterio/_archive/workflow_auditor_v2.json
{
    "name": "Argenterio - Auditor V2 (Sheets + MP Fix)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "argenterio-audit-v1",
                "options": {}
            },
            "name": "Webhook Data",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                60,
                300
            ],
            "webhookId": "argenterio-audit-v1"
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "1g9q... (TU SHEET ID AQUÍ)",
                "range": "A:F",
                "options": {}
            },
            "name": "Guardar en Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                260,
                180
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_CREDENTIAL_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "contentType": "json",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "llama-3.3-70b-versatile"
                        },
                        {
                            "name": "messages",
                            "value": "={{ [\n  {\n    \"role\": \"system\",\n    \"content\": \"Analista ARGT-26. Tu misión: Analizar finanzas para un TEASER de venta. INPUT: Ingr:{{$json.body.ingresos}}, Gasto:{{$json.body.gastos}}, Deuda:{{$json.body.deudas}}. SALIDA: Un párrafo corto (3 líneas) muy alarmista sobre su situación, invitándolo a ver el reporte completo.\\nNO des soluciones aún. Solo diagnóstico del problema.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Dame el teaser.\"\n  }\n] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Groq - Teaser Analyst",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                260,
                400
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "YOUR_GROQ_CREDENTIAL_ID",
                    "name": "Groq API Key"
                }
            }
        },
        {
            "parameters": {
                "url": "https://api.mercadopago.com/checkout/preferences",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer APP_USR-2662030501407901-070617-26cd9e8e4a1f61917e341886b260864c-89801872"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "items",
                            "value": "={{ [ { \"title\": \"Argenterio Shield Report\", \"quantity\": 1, \"currency_id\": \"ARS\", \"unit_price\": 15000 } ] }}"
                        },
                        {
                            "name": "payer",
                            "value": "={{ { \"email\": $json[\"body\"][\"email\"] } }}"
                        },
                        {
                            "name": "back_urls",
                            "value": "={{ { \"success\": \"https://argenterio.com\", \"failure\": \"https://argenterio.com\" } }}"
                        },
                        {
                            "name": "auto_return",
                            "value": "approved"
                        },
                        {
                            "name": "external_reference",
                            "value": "={{ $json[\"body\"][\"email\"] }}"
                        }
                    ]
                }
            },
            "name": "MercadoPago - Crear Link",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                480,
                500
            ],
            "notes": "Precio Fijo: 15000 ARS. Asegúrate de que unit_price sea número."
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"message\": \"Analisis Completado\", \"mp_link\": $('MercadoPago - Crear Link').item.json[\"init_point\"], \"paypal_link\": \"https://www.paypal.com/ncp/payment/LP2ZBHDAJPLDY\", \"teaser\": $('Groq - Teaser Analyst').item.json.choices[0].message.content } }}",
                "options": {}
            },
            "name": "Responder a Web (JSON)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                500
            ]
        },
        {
            "parameters": {
                "senderEmail": "security@argenterio.com",
                "toEmail": "={{ $('Webhook Data').item.json[\"body\"][\"email\"] }}",
                "subject": "⚠️ Tu Pre-Diagnóstico de Riesgo Financiero",
                "htmlContent": "=<!DOCTYPE html><html><head><style>body{font-family:'Courier New',monospace;background:#f4f4f4;padding:20px;color:#333}.card{background:#fff;padding:30px;border-top:5px solid #ff3333;max-width:600px;margin:0 auto}</style></head><body><div class=\"card\"><h1>ARGENTERIO_ STATUS: PENDING</h1><p>Hemos procesado tus datos.</p><div style='background:#ffe6e6; padding:15px; border-left:4px solid red'><strong>DIAGNÓSTICO PRELIMINAR:</strong><br><br>{{ $('Groq - Teaser Analyst').item.json.choices[0].message.content }}</div><p>Para ver el plan de acción detallado y evitar el colapso, desbloquea el reporte completo.</p><a href='{{ $('MercadoPago - Crear Link').item.json[\"init_point\"] }}' style='display:inline-block;padding:10px 20px;background:red;color:white;text-decoration:none;font-weight:bold'>DESBLOQUEAR REPORTE</a></div></body></html>"
            },
            "name": "Email - Teaser + Link",
            "type": "n8n-nodes-base.sendInBlue",
            "typeVersion": 2,
            "position": [
                700,
                300
            ],
            "credentials": {
                "sendInBlueApi": {
                    "id": "YOUR_BREVO_CREDENTIAL_ID",
                    "name": "Brevo/Sendinblue"
                }
            }
        }
    ],
    "connections": {
        "Webhook Data": {
            "main": [
                [
                    {
                        "node": "Guardar en Sheets",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Groq - Teaser Analyst",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq - Teaser Analyst": {
            "main": [
                [
                    {
                        "node": "MercadoPago - Crear Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MercadoPago - Crear Link": {
            "main": [
                [
                    {
                        "node": "Responder a Web (JSON)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Email - Teaser + Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
