agency/workflows/_archive/autonomous_sales_agent_v27_NO_VALIDATIONS.json
{
    "name": "Agente V27 - SIN VALIDACIONES (Envía siempre)",
    "nodes": [
        {
            "parameters": {},
            "id": "start",
            "name": "Start",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                400
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "search_term",
                            "value": "Dentistas"
                        },
                        {
                            "name": "location",
                            "value": "Buenos Aires, Argentina"
                        }
                    ]
                }
            },
            "id": "config",
            "name": "CONFIG",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://serpapi.com/search.json",
                "authentication": "genericCredentialType",
                "genericAuthType": "queryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "9be0d43581dc9220232e9a2819f308c303a32082a1e62f97c9c87b75dfde8d72"
                        },
                        {
                            "name": "engine",
                            "value": "google_maps"
                        },
                        {
                            "name": "q",
                            "value": "={{ $json.search_term + ' en ' + $json.location }}"
                        },
                        {
                            "name": "num",
                            "value": "5"
                        }
                    ]
                }
            },
            "id": "serp",
            "name": "Google Maps",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "local_results"
            },
            "id": "split",
            "name": "Dividir",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 3,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1
            },
            "id": "loop",
            "name": "Loop",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.website }}",
                "options": {
                    "timeout": 5000
                }
            },
            "id": "web",
            "name": "Visitar Web",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const html = $input.item.json.data || '';\nconst text = html.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ');\nconst title = $('Loop').item.json.title || 'Sin nombre';\nconst phone = $('Loop').item.json.phone || '';\n\nreturn {\n  text: text.substring(0, 2000),\n  title: title,\n  phone_from_maps: phone\n};"
            },
            "id": "clean",
            "name": "Limpiar HTML",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                400
            ]
        },
        {
            "parameters": {
                "model": "meta-llama/llama-3.3-70b-versatile"
            },
            "id": "groq",
            "name": "Groq Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                1780,
                620
            ],
            "credentials": {
                "groqApi": {
                    "id": "t7iYzRwAE19Qfzou",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Analiza este texto web y extrae datos de contacto:\n\n{{ $json.text }}\n\nNombre negocio: {{ $json.title }}\nTeléfono que aparece en Maps: {{ $json.phone_from_maps }}\n\nEXTRAE:\n1. Teléfono/WhatsApp: Busca en el texto. Si encuentras uno que empiece con 11, conviértelo a 54911... Si empieza con 15, a 54915... Si ya tiene 549, déjalo.\n2. Email: Busca email válido\n3. Score: Califica 1-10 según profesionalismo del sitio\n4. Mensaje WA: Escribe mensaje corto personalizado (máx 150 chars)\n5. Email HTML: Genera email profesional con <p>, <br>, <strong>\n\nResponde EXACTAMENTE este JSON (sin comentarios, sin texto adicional):\n{\n  \"phone\": \"54911XXXXXXXX\",\n  \"email\": \"contacto@ejemplo.com\",\n  \"score\": 8,\n  \"wa_msg\": \"Hola [nombre], somos Neurova AI...\",\n  \"email_html\": \"<p>Estimado equipo de [nombre],</p><p>Vimos su sitio...</p>\"\n}",
                "hasOutputParser": true
            },
            "id": "ai",
            "name": "IA Extractor",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1780,
                400
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const data = $input.item.json;\nconst title = $('Loop').item.json.title || 'Sin nombre';\nconst phone_maps = $('Loop').item.json.phone || '';\n\n// Usar teléfono de la IA, o el de Maps, o uno de prueba\nconst phone = data.phone || phone_maps || '5491112345678';\nconst email = data.email || 'test@ejemplo.com';\n\nreturn {\n  text: title,\n  score: data.score || 5,\n  email_address: email,\n  phone: phone,\n  wa_msg: data.wa_msg || `Hola equipo de ${title}, somos Neurova AI y nos gustaría hablar sobre automatización.`,\n  email_html: data.email_html || `<p>Estimado equipo de <strong>${title}</strong>,</p><p>Vimos su presencia en línea y nos gustaría conversar sobre cómo podemos ayudarlos con soluciones de inteligencia artificial.</p><p>Saludos,<br>Equipo Neurova AI</p>`,\n  search_term: $('CONFIG').item.json.search_term,\n  location: $('CONFIG').item.json.location,\n  raw_ai: JSON.stringify(data)\n};"
            },
            "id": "parse",
            "name": "Preparar Datos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2000,
                400
            ]
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "LATAM",
                "options_message": {
                    "number": "={{ $json.phone }}",
                    "textMessage": {
                        "text": "={{ $json.wa_msg }}"
                    }
                }
            },
            "id": "evo",
            "name": "Enviar WhatsApp",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                2220,
                400
            ],
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "LATAM"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "senderEmail": "gustavo@neurova.ai",
                "toEmail": "={{ $json.email_address }}",
                "subject": "Propuesta de Automatización - Neurova AI",
                "htmlContent": "={{ $json.email_html }}"
            },
            "id": "brevo",
            "name": "Enviar Email",
            "type": "n8n-nodes-base.sendInBlue",
            "typeVersion": 2,
            "position": [
                2440,
                400
            ],
            "credentials": {
                "sendInBlueApi": {
                    "id": "dRbziQm4hHXAh3GR",
                    "name": "Brevo account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "1HSNrK1Zmk2WqU14QZgxpFmvShdPSRWA41GxRPQ956Eo",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Hoja 1",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "text": "={{ $json.text }}",
                        "score": "={{ $json.score }}",
                        "email_address": "={{ $json.email_address }}",
                        "search_term": "={{ $json.search_term }}",
                        "location": "={{ $json.location }}",
                        "raw": "={{ $json.raw_ai }}"
                    }
                }
            },
            "id": "sheet",
            "name": "Guardar en Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                2660,
                400
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "zwdmBzveCXv4B3Ec",
                    "name": "Google Sheets account"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "amount": 3,
                "unit": "seconds"
            },
            "id": "wait",
            "name": "Esperar",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                2880,
                400
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "CONFIG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CONFIG": {
            "main": [
                [
                    {
                        "node": "Google Maps",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Maps": {
            "main": [
                [
                    {
                        "node": "Dividir",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Dividir": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop": {
            "main": [
                [
                    {
                        "node": "Visitar Web",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Visitar Web": {
            "main": [
                [
                    {
                        "node": "Limpiar HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limpiar HTML": {
            "main": [
                [
                    {
                        "node": "IA Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "IA Extractor",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "IA Extractor": {
            "main": [
                [
                    {
                        "node": "Preparar Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Datos": {
            "main": [
                [
                    {
                        "node": "Enviar WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar WhatsApp": {
            "main": [
                [
                    {
                        "node": "Enviar Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Email": {
            "main": [
                [
                    {
                        "node": "Guardar en Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar en Sheet": {
            "main": [
                [
                    {
                        "node": "Esperar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Esperar": {
            "main": [
                [
                    {
                        "node": "Loop",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
