agency/workflows/_archive/autonomous_sales_agent_v8_FULL_PRODUCTION.json
{
    "name": "Autonomous Sales Agent v8 (FULL PRODUCTION)",
    "nodes": [
        {
            "parameters": {},
            "name": "Start Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -200,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "search_term",
                            "value": "Inmobiliarias"
                        },
                        {
                            "name": "location",
                            "value": "Buenos Aires, Argentina"
                        },
                        {
                            "name": "target_audience",
                            "value": "Empresas que necesiten automatización con IA"
                        },
                        {
                            "name": "sender_email",
                            "value": "gustavo@neurova.ai"
                        },
                        {
                            "name": "sheet_id",
                            "value": "PON_TU_ID_DE_SHEET_AQUI"
                        }
                    ]
                },
                "options": {}
            },
            "name": "CONFIGURACION",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                0,
                300
            ],
            "notesInFlow": true,
            "notes": "1. Define qué buscar.\n2. Pon tu EMAIL verificado en Brevo.\n3. Pega el ID de tu Google Sheet."
        },
        {
            "parameters": {
                "url": "https://serpapi.com/search.json",
                "authentication": "genericCredentialType",
                "genericAuthType": "queryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "9be0d43581dc9220232e9a2819f308c303a32082a1e62f97c9c87b75dfde8d72"
                        },
                        {
                            "name": "engine",
                            "value": "google_maps"
                        },
                        {
                            "name": "q",
                            "value": "={{ $json[\"search_term\"] + \" en \" + $json[\"location\"] }}"
                        },
                        {
                            "name": "type",
                            "value": "search"
                        },
                        {
                            "name": "num",
                            "value": "10"
                        }
                    ]
                },
                "options": {}
            },
            "name": "SerpApi - Maps Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "local_results",
                "options": {}
            },
            "name": "Separar Resultados",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Loop (1 por 1)",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-flash",
                "options": {}
            },
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                880,
                520
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini Key"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Analiza este negocio de Google Maps:\n\nNOMBRE: {{ $json.title }}\nWEB: {{ $json.website }}\nTELEFONO: {{ $json.phone }}\nRATING: {{ $json.rating }}\n\nTAREA:\n1. Califica de 1 a 10 si es buen lead para automatización IA (Score).\n2. Encuentra o deduce un EMAIL de contacto (si no hay, déjalo vacío).\n3. Escribe un email de venta persuasivo en HTML. Firma como 'Gustavo - Neurova AI'.\n\nFORMATO JSON:\n{ \n  \"score\": 8, \n  \"email_address\": \"...\", \n  \"email_subject\": \"...\",\n  \"email_body\": \"<p>Hola...</p>\"\n}",
                "hasOutputParser": true
            },
            "name": "Gemini - Redactor Inteligente",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                880,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.score }}",
                            "operation": "largerEqual",
                            "value2": 7
                        }
                    ],
                    "string": [
                        {
                            "value1": "={{ $json.email_address }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Filtro: ¿Vale la pena?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1140,
                300
            ]
        },
        {
            "parameters": {
                "senderEmail": "={{ $('CONFIGURACION').item.json.sender_email }}",
                "toEmail": "={{ $json.email_address }}",
                "subject": "={{ $json.email_subject }}",
                "htmlContent": "={{ $json.email_body }}"
            },
            "name": "Brevo - Enviar Email",
            "type": "n8n-nodes-base.sendInBlue",
            "typeVersion": 2,
            "position": [
                1400,
                180
            ],
            "credentials": {
                "sendInBlueApi": {
                    "id": "YOUR_BREVO_CREDENTIAL_ID",
                    "name": "Brevo/Sendinblue"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $('CONFIGURACION').item.json.sheet_id }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Hoja 1",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Fecha": "={{ $now.toISO() }}",
                        "Empresa": "={{ $('Loop (1 por 1)').item.json.title }}",
                        "Email Enviado": "SI",
                        "Destinatario": "={{ $json.email_address }}",
                        "Asunto": "={{ $json.email_subject }}"
                    }
                },
                "options": {}
            },
            "name": "Log: EXITO",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1660,
                180
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "={{ $('CONFIGURACION').item.json.sheet_id }}",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Hoja 1",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Fecha": "={{ $now.toISO() }}",
                        "Empresa": "={{ $('Loop (1 por 1)').item.json.title }}",
                        "Email Enviado": "NO",
                        "Motivo": "Low Score o Sin Email",
                        "Destinatario": "N/A",
                        "Asunto": "N/A"
                    }
                },
                "options": {}
            },
            "name": "Log: DESCARTE",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1400,
                460
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
                    "name": "Google Sheets"
                }
            }
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "name": "Esperar 5s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1920,
                300
            ]
        }
    ],
    "connections": {
        "Start Trigger": {
            "main": [
                [
                    {
                        "node": "CONFIGURACION",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CONFIGURACION": {
            "main": [
                [
                    {
                        "node": "SerpApi - Maps Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpApi - Maps Scraper": {
            "main": [
                [
                    {
                        "node": "Separar Resultados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Separar Resultados": {
            "main": [
                [
                    {
                        "node": "Loop (1 por 1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop (1 por 1)": {
            "main": [
                [
                    {
                        "node": "Gemini - Redactor Inteligente",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini - Redactor Inteligente",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini - Redactor Inteligente": {
            "main": [
                [
                    {
                        "node": "Filtro: ¿Vale la pena?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtro: ¿Vale la pena?": {
            "main": [
                [
                    {
                        "node": "Brevo - Enviar Email",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log: DESCARTE",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Brevo - Enviar Email": {
            "main": [
                [
                    {
                        "node": "Log: EXITO",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log: EXITO": {
            "main": [
                [
                    {
                        "node": "Esperar 5s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log: DESCARTE": {
            "main": [
                [
                    {
                        "node": "Esperar 5s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Esperar 5s": {
            "main": [
                [
                    {
                        "node": "Loop (1 por 1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
