agency/workflows/_archive/autonomous_sales_agent_v5_FULL_DRAFT.json
{
    "name": "Autonomous Sales Agent v5 (Mail & Sheets)",
    "nodes": [
        {
            "parameters": {},
            "name": "Start Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "search_term",
                            "value": "Inmobiliarias"
                        },
                        {
                            "name": "location",
                            "value": "Buenos Aires, Argentina"
                        },
                        {
                            "name": "target_audience",
                            "value": "Empresas que necesiten automatización con IA"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Definir Busqueda",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://serpapi.com/search.json",
                "authentication": "genericCredentialType",
                "genericAuthType": "queryAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "9be0d43581dc9220232e9a2819f308c303a32082a1e62f97c9c87b75dfde8d72"
                        },
                        {
                            "name": "engine",
                            "value": "google_maps"
                        },
                        {
                            "name": "q",
                            "value": "={{ $json[\"search_term\"] + \" en \" + $json[\"location\"] }}"
                        },
                        {
                            "name": "type",
                            "value": "search"
                        },
                        {
                            "name": "num",
                            "value": "10"
                        }
                    ]
                },
                "options": {}
            },
            "name": "SerpApi - Maps Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "local_results",
                "options": {}
            },
            "name": "Separar Resultados",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "name": "Freno de Mano (Loop)",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-1.5-flash",
                "options": {}
            },
            "name": "Google Gemini Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1150,
                550
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini Key"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Analiza este negocio de Google Maps:\n\nNOMBRE: {{ $json.title }}\nWEB: {{ $json.website }}\nTELEFONO: {{ $json.phone }}\nRATING: {{ $json.rating }}\n\nTAREA:\n1. Califica de 1 a 10 si es buen lead para automatización IA (Score).\n2. Razón breve.\n3. Asunto Email personalizado.\n4. CUERPO DEL EMAIL: Escribe un email de venta corto, persuasivo y profesional. Menciona que viste sus {{ $json.reviews }} reseñas en Google y que podrías automatizar la atención de sus clientes.\n\nFORMATO JSON:\n{ \n  \"score\": 8, \n  \"reason\": \"...\", \n  \"email_subject\": \"...\",\n  \"email_body\": \"<p>Hola team {{ $json.title }}, ... (html)... </p>\"\n}",
                "hasOutputParser": true
            },
            "name": "Gemini - Generar Email",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1150,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEET_ID_HERE",
                    "mode": "list"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Hoja 1",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Fecha": "={{ $now.toISO() }}",
                        "Empresa": "={{ $('Freno de Mano (Loop)').item.json.title }}",
                        "Web": "={{ $('Freno de Mano (Loop)').item.json.website }}",
                        "Telefono": "={{ $('Freno de Mano (Loop)').item.json.phone }}",
                        "Score IA": "={{ $json.score }}",
                        "Razon": "={{ $json.reason }}",
                        "Borrador Asunto": "={{ $json.email_subject }}",
                        "Borrador Cuerpo": "={{ $json.email_body }}"
                    }
                },
                "options": {}
            },
            "name": "Guardar en Sheets para Revision",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1400,
                300
            ],
            "notesInFlow": true,
            "notes": "Guardamos el borrador del email en la hoja para que tú lo apruebes antes de enviar."
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "name": "Esperar 5s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1600,
                300
            ]
        }
    ],
    "connections": {
        "Start Trigger": {
            "main": [
                [
                    {
                        "node": "Definir Busqueda",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Definir Busqueda": {
            "main": [
                [
                    {
                        "node": "SerpApi - Maps Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpApi - Maps Scraper": {
            "main": [
                [
                    {
                        "node": "Separar Resultados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Separar Resultados": {
            "main": [
                [
                    {
                        "node": "Freno de Mano (Loop)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Freno de Mano (Loop)": {
            "main": [
                [
                    {
                        "node": "Gemini - Generar Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Gemini - Generar Email",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini - Generar Email": {
            "main": [
                [
                    {
                        "node": "Guardar en Sheets para Revision",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Guardar en Sheets para Revision": {
            "main": [
                [
                    {
                        "node": "Esperar 5s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Esperar 5s": {
            "main": [
                [
                    {
                        "node": "Freno de Mano (Loop)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
