agency/workflows/_archive/MASTER_ALEX_V5_FINAL.json
{
    "name": "ALEX_HYBRID_V5_MASTER",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-alex-v5",
                "options": {},
                "responseMode": "responseNode"
            },
            "id": "ax-webhook-v5",
            "name": "Webhook Alex V5",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                240
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "v5-source",
                            "name": "is_whatsapp",
                            "value": "={{ !!($json.body?.event || $json.body?.data?.key) }}",
                            "type": "boolean"
                        },
                        {
                            "id": "v5-phone",
                            "name": "phone",
                            "value": "={{ ($json.body?.data?.key?.remoteJid || $json.body?.message?.toolCalls?.[0]?.function?.arguments?.phone || \"\").toString().replace(/[^0-9@s.whatsapp.net]/g, '') }}",
                            "type": "string"
                        },
                        {
                            "id": "v5-tool-id",
                            "name": "toolCallId",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.id || \"no-id\" }}",
                            "type": "string"
                        },
                        {
                            "id": "v5-msg-vapi",
                            "name": "msg_vapi",
                            "value": "={{ ($json.body?.message?.toolCalls?.[0]?.function?.arguments?.message || \"\").toString() }}",
                            "type": "string"
                        },
                        {
                            "id": "v5-user-txt",
                            "name": "user_text",
                            "value": "={{ $json.body?.data?.message?.conversation || $json.body?.data?.message?.extendedTextMessage?.text || $json.body?.message?.conversation || \"\" }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ax-set-v5",
            "name": "Normalize Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                220,
                240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeFilter": "string"
                    },
                    "conditions": [
                        {
                            "id": "v5-cond",
                            "leftValue": "={{ $json.is_whatsapp }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "ax-if-v5",
            "name": "Source?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                240
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $json.toolCallId }}\",\n      \"result\": \"SUCCESS: Alex sent the WhatsApp message.\"\n    }\n  ]\n}",
                "options": {}
            },
            "id": "ax-resp-vapi-v5",
            "name": "Respond to Vapi",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                660,
                360
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\"status\":\"received\"}",
                "options": {}
            },
            "id": "ax-resp-wa-v5",
            "name": "Respond to WA",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                660,
                120
            ]
        },
        {
            "parameters": {
                "model": "meta-llama/llama-3.3-70b-versatile",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "ax-groq-v5",
            "name": "Groq Alex",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                880,
                0
            ],
            "credentials": {
                "groqApi": {
                    "id": "t7iYzRwAE19Qfzou",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres Alex, Senior SDR de GenerArise AI.\n\nIDENTIDAD: Directo, experto, ventas agresivas. No pides permiso para automatizar, pides cita para demostrarlo. Habla como un humano experto, no como un robot.\n\nUSUARIO DICE EN WHATSAPP: {{ $json.user_text || \"Hola\" }}\n\nTAREA: Responde de forma muy persuasiva y conversacional. Tu objetivo es que agenden la auditoría aquí: https://cal.com/gustavo-a.-dornhofer-nqjqos/argenterio\nINSTRUCCIONES: Responde siempre de forma completa y amable antes de poner el link al final. RESPUESTA SOLO TEXTO.",
                "hasOutputParser": true
            },
            "id": "ax-ai-v5",
            "name": "AI SDR Alex",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                1050,
                0
            ]
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "GenerArise",
                "options_message": {
                    "number": "={{ $json.phone.includes('@') ? $json.phone : $json.phone + '@s.whatsapp.net' }}",
                    "textMessage": {
                        "text": "={{ $node[\"AI SDR Alex\"]?.json?.text || $json.msg_vapi }}"
                    }
                }
            },
            "id": "ax-evo-v5",
            "name": "Evolution Alex",
            "type": "n8n-nodes-base.evolutionApi",
            "typeVersion": 1,
            "position": [
                1320,
                240
            ],
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "GenerArise"
                }
            }
        }
    ],
    "connections": {
        "Webhook Alex V5": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "Source?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Source?": {
            "main": [
                [
                    {
                        "node": "Respond to WA",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Groq Alex",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Evolution Alex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Alex": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI SDR Alex",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI SDR Alex": {
            "main": [
                [
                    {
                        "node": "Evolution Alex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}