agency/workflows/_archive/MASTER_ALEX_UNIVERSAL_V3.json
{
    "name": "ALEX_UNIVERSAL_HYBRID_V3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-whatsapp-bridge",
                "options": {},
                "responseMode": "responseNode"
            },
            "id": "universal-alex-webhook",
            "name": "Universal Webhook Alex",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                240
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "u-phone",
                            "name": "phone",
                            "value": "={{ ($json.body?.data?.key?.remoteJid || $json.body.message.toolCalls[0].function.arguments.phone || \"\").toString().replace(/[^0-9@s.whatsapp.net]/g, '') }}",
                            "type": "string"
                        },
                        {
                            "id": "u-msg-vapi",
                            "name": "msg_vapi",
                            "value": "={{ ($json.body?.message?.toolCalls?.[0].function.arguments.message || \"\").toString() }}",
                            "type": "string"
                        },
                        {
                            "id": "u-tool-id",
                            "name": "toolCallId",
                            "value": "={{ $json.body?.message?.toolCalls?.[0].id || \"no-id\" }}",
                            "type": "string"
                        },
                        {
                            "id": "u-user-txt",
                            "name": "user_text",
                            "value": "={{ $json.body?.data?.message?.conversation || $json.body?.data?.message?.extendedTextMessage?.text || $json.body?.data?.message?.listResponseMessage?.title || \"Hola\" }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "u-alex-set",
            "name": "Normalize Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                300,
                240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeFilter": "string"
                    },
                    "conditions": [
                        {
                            "id": "is-vapi-u",
                            "leftValue": "={{ $json.toolCallId }}",
                            "rightValue": "no-id",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "u-alex-if",
            "name": "Is Vapi?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                500,
                240
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $json.toolCallId }}\",\n      \"result\": \"SUCCESS: Alex sent the summary.\"\n    }\n  ]\n}",
                "options": {}
            },
            "id": "u-alex-resp",
            "name": "Respond to Vapi",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                700,
                360
            ]
        },
        {
            "parameters": {
                "model": "meta-llama/llama-3.3-70b-versatile",
                "options": {
                    "temperature": 0.7
                }
            },
            "id": "u-alex-groq",
            "name": "Groq Alex",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                700,
                100
            ],
            "credentials": {
                "groqApi": {
                    "id": "t7iYzRwAE19Qfzou",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Eres Alex, Senior SDR de GenerArise AI.\n\nIDENTIDAD: Directo, experto, ventas agresivas. No pides permiso para automatizar, pides cita para demostrarlo. Habla como un humano experto, no como un robot.\n\nUSUARIO DICE: {{ $json.user_text }}\n\nTAREA: Responde de forma muy persuasiva y conversacional. Tu objetivo es que agenden la auditoría aquí: https://cal.com/gustavo-a.-dornhofer-nqjqos/argenterio\nINSTRUCCIONES: Responde siempre saludando y explicando algo brevemente antes del link. RESPUESTA SOLO TEXTO.",
                "hasOutputParser": true
            },
            "id": "u-alex-ai",
            "name": "AI SDR Alex",
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.4,
            "position": [
                850,
                100
            ]
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "GenerArise",
                "options_message": {
                    "number": "={{ $json.phone.includes('@') ? $json.phone : $json.phone + '@s.whatsapp.net' }}",
                    "textMessage": {
                        "text": "={{ $node[\"AI SDR Alex\"]?.json?.text || $json.msg_vapi }}"
                    }
                }
            },
            "id": "u-alex-evo",
            "name": "Evolution Alex",
            "type": "n8n-nodes-base.evolutionApi",
            "typeVersion": 1,
            "position": [
                1100,
                240
            ],
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "GenerArise"
                }
            }
        }
    ],
    "connections": {
        "Universal Webhook Alex": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "Is Vapi?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Vapi?": {
            "main": [
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Evolution Alex",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI SDR Alex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Alex": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI SDR Alex",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI SDR Alex": {
            "main": [
                [
                    {
                        "node": "Evolution Alex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}