agency/workflows/_archive/vapi_to_whatsapp_bridge_MULTIMEDIA.json
{
    "name": "Vapi WhatsApp Bridge - MULTIMEDIA",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-multimedia-bridge",
                "options": {},
                "responseMode": "responseNode"
            },
            "id": "webhook-id",
            "name": "WebhookVapi",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "phone-id",
                            "name": "phone",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.function?.arguments?.phone || $json.body?.phone || \"5491112345678\" }}",
                            "type": "string"
                        },
                        {
                            "id": "msg-id",
                            "name": "message",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.function?.arguments?.message || $json.body?.message || \"Hola! Te envío el material solicitado.\" }}",
                            "type": "string"
                        },
                        {
                            "id": "media-url-id",
                            "name": "media_url",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.function?.arguments?.media_url }}",
                            "type": "string"
                        },
                        {
                            "id": "media-type-id",
                            "name": "media_type",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.function?.arguments?.media_type || \"document\" }}",
                            "type": "string"
                        },
                        {
                            "id": "call-id",
                            "name": "toolCallId",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.id || \"test-call-id\" }}",
                            "type": "string"
                        },
                        {
                            "id": "instance-id",
                            "name": "instanceName",
                            "value": "={{ $json.body?.message?.toolCalls?.[0]?.function?.name === 'send_whatsapp_stefan' ? 'Argenterio' : 'GenerArise' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-node-id",
            "name": "PrepareData",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                350,
                300
            ]
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeFilter": "string"
                                },
                                "conditions": [
                                    {
                                        "id": "cond-1",
                                        "leftValue": "={{ $json.media_url }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "notEmpty",
                                            "name": "is not empty"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameNextTarget": "Media"
                        }
                    ],
                    "fallbackResult": "Text"
                }
            },
            "id": "switch-id",
            "name": "Check Media",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.1,
            "position": [
                550,
                300
            ]
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $json.instanceName }}",
                "options_message": {
                    "number": "={{ $json.phone }}",
                    "textMessage": {
                        "text": "={{ $json.message }}"
                    }
                }
            },
            "id": "evo-text-id",
            "name": "Evolution Text",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                800,
                400
            ],
            "continueOnFail": true,
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "GenerArise"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "sendMedia",
                "instanceName": "={{ $json.instanceName }}",
                "options_message": {
                    "number": "={{ $json.phone }}",
                    "mediaMessage": {
                        "media": "={{ $json.media_url }}",
                        "mediaType": "={{ $json.media_type }}",
                        "caption": "={{ $json.message }}"
                    }
                }
            },
            "id": "evo-media-id",
            "name": "Evolution Media",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                800,
                200
            ],
            "continueOnFail": true,
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "GenerArise"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('PrepareData').item.json.toolCallId }}\",\n      \"result\": \"Material enviado correctamente por WhatsApp.\"\n    }\n  ]\n}"
            },
            "id": "respond-id",
            "name": "Respond to Vapi",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1100,
                300
            ]
        }
    ],
    "connections": {
        "WebhookVapi": {
            "main": [
                [
                    {
                        "node": "PrepareData",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PrepareData": {
            "main": [
                [
                    {
                        "node": "Check Media",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Media": {
            "main": [
                [
                    {
                        "node": "Evolution Media",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Evolution Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evolution Text": {
            "main": [
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evolution Media": {
            "main": [
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
