agency/workflows/_archive/vapi_to_whatsapp_bridge_ATOMIC.json
{
    "name": "Vapi WhatsApp Bridge - ATOMIC",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-whatsapp-bridge",
                "responseMode": "responseNode"
            },
            "name": "WebhookVapi",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "name": "phone",
                            "value": "={{ ($json.body.message.toolCalls[0].function.arguments.phone || \"\").toString().replace(/\\D/g, '') }}",
                            "type": "string"
                        },
                        {
                            "name": "message",
                            "value": "={{ $json.body.message.toolCalls[0].function.arguments.message || \"\" }}",
                            "type": "string"
                        },
                        {
                            "name": "media_url",
                            "value": "={{ $json.body.message.toolCalls[0].function.arguments.media_url || \"\" }}",
                            "type": "string"
                        },
                        {
                            "name": "toolCallId",
                            "value": "={{ $json.body.message.toolCalls[0].id || \"no-id\" }}",
                            "type": "string"
                        },
                        {
                            "name": "instanceName",
                            "value": "={{ $json.body.message.toolCalls[0].function.name.includes('stefan') ? 'Argen-Austria' : 'GenerArise' }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "name": "PrepareData",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                300,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.media_url }}",
                            "operation": "regex",
                            "value2": "(\\.(pdf|png|jpg|jpeg|docx|mp4))$"
                        }
                    ]
                }
            },
            "name": "Is Valid File?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                550,
                300
            ]
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "={{ $node.PrepareData.json.instanceName }}",
                "options_message": {
                    "number": "={{ $node.PrepareData.json.phone }}",
                    "textMessage": {
                        "text": "={{ $node.PrepareData.json.message + ($node.PrepareData.json.media_url ? '\\n\\n🔗 ' + $node.PrepareData.json.media_url : '') }}"
                    }
                }
            },
            "name": "Send-As-Text",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                800,
                200
            ],
            "onError": "continueErrorOutput",
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "GenerArise"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "send-media",
                "instanceName": "={{ $node.PrepareData.json.instanceName }}",
                "options_message": {
                    "number": "={{ $node.PrepareData.json.phone }}",
                    "mediaMessage": {
                        "mediatype": "={{ $json.media_url.toLowerCase().endsWith('.pdf') ? 'document' : 'image' }}",
                        "media": "={{ $json.media_url }}",
                        "caption": "={{ $json.message }}"
                    }
                }
            },
            "name": "Send-As-Media",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                800,
                400
            ],
            "onError": "continueErrorOutput",
            "credentials": {
                "evolutionApi": {
                    "id": "bzWosesjRnlSmCBY",
                    "name": "GenerArise"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $node.PrepareData.json.toolCallId }}\",\n      \"result\": \"Mensaje procesado correctamente.\"\n    }\n  ]\n}",
                "options": {}
            },
            "name": "Respond to Vapi",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        }
    ],
    "connections": {
        "WebhookVapi": {
            "main": [
                [
                    {
                        "node": "PrepareData",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PrepareData": {
            "main": [
                [
                    {
                        "node": "Is Valid File?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Valid File?": {
            "main": [
                [
                    {
                        "node": "Send-As-Media",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send-As-Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send-As-Text": {
            "main": [
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send-As-Media": {
            "main": [
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
