austria/_archive/WORKFLOW_AUSTRIA_V9_CREDENTIALS_FIX.json
{
    "name": "Austria Voice Assistant V9 (CREDENTIALS FIX)",
    "nodes": [
        {
            "parameters": {},
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "content": "✅ V9 CREDENTIALS FIX\n\nERROR ENCONTRADO:\nEl nodo de Texto estaba usando la cuenta 'LATAM' en lugar de 'USA'.\n\nSOLUCIÓN:\nAhora TODOS los nodos usan la credencial 'USA' (Austria).\n\nEstructura: GenerArise Replica + Multilingüe.",
                "height": 300,
                "width": 350
            },
            "id": "nota-final",
            "name": "Nota: V9 FIX",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1320,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// ═══════════════════════════════════════════════════════════════\n// FILTRO V9 - LÓGICA GENERARISE + MULTILINGÜE + USA\n// ═══════════════════════════════════════════════════════════════\n\n// A. OBTENER INPUT (Igual que GenerArise)\nlet inputData = $input.item.json.original_voice || $input.item.json.text || $input.item.json.output || \"\";\n\n// B. OBTENER REMOTE JID (Austria Specific)\nlet rawRemoteJid = \"\";\ntry {\n  if ($('Webhook').item.json.body.data && $('Webhook').item.json.body.data.key) {\n      rawRemoteJid = $('Webhook').item.json.body.data.key.remoteJid;\n  }\n  else if ($('Webhook').item.json.body.key) {\n      rawRemoteJid = $('Webhook').item.json.body.key.remoteJid;\n  }\n} catch(e) {\n  console.log(\"⚠️ No se pudo leer el RemoteJid\");\n}\n\n// Variables por defecto\nlet textoVoz = \"\";\nlet accionFinal = \"info\";\nlet mensajeTexto = \"\";\nlet idiomaDetectado = \"es\";\n\n// C. LÓGICA DE PARSEO ROBUSTA (Igual que GenerArise)\nif (typeof inputData === 'object' && inputData !== null) {\n  textoVoz = inputData.respuesta_voz || \"\";\n  accionFinal = inputData.accion_requerida || \"info\";\n} else if (typeof inputData === 'string') {\n  let cleanString = inputData.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  try {\n    const parsed = JSON.parse(cleanString);\n    textoVoz = parsed.respuesta_voz || cleanString;\n    accionFinal = parsed.accion_requerida || \"info\";\n  } catch (e) {\n    textoVoz = cleanString;\n    accionFinal = \"info\";\n  }\n}\n\n// D. DETECCIÓN DE IDIOMA (Austria Specific)\nfunction detectLanguage(text) {\n  if (!text) return \"es\";\n  const textLower = text.toLowerCase();\n  const deWords = [\"der\", \"die\", \"das\", \"haben\", \"guten\", \"konnen\", \"werden\", \"hotels\", \"preis\"];\n  const enWords = [\"the\", \"have\", \"hello\", \"good\", \"hotel\", \"booking\", \"price\", \"would\"];\n  const esWords = [\"los\", \"las\", \"tiene\", \"puede\", \"hola\", \"buenos\", \"reserva\", \"precio\"];\n  const itWords = [\"gli\", \"vuole\", \"ciao\", \"buona\", \"prenotazione\", \"prezzo\"];\n  \n  let scores = { de: 0, en: 0, es: 0, it: 0 };\n  deWords.forEach(word => { if (textLower.includes(word)) scores.de++; });\n  enWords.forEach(word => { if (textLower.includes(word)) scores.en++; });\n  esWords.forEach(word => { if (textLower.includes(word)) scores.es++; });\n  itWords.forEach(word => { if (textLower.includes(word)) scores.it++; });\n  \n  let maxLang = \"es\";\n  let maxScore = scores.es;\n  if (scores.de > maxScore) { maxLang = \"de\"; maxScore = scores.de; }\n  if (scores.en > maxScore) { maxLang = \"en\"; maxScore = scores.en; }\n  if (scores.it > maxScore) { maxLang = \"it\"; }\n  return maxLang;\n}\n\nidiomaDetectado = detectLanguage(textoVoz);\n\n// E. SELECCIÓN DE VOZ (Austria Specific)\nconst googleVoices = {\n  de: { languageCode: \"de-DE\", name: \"de-DE-Neural2-F\", ssmlGender: \"FEMALE\" },\n  en: { languageCode: \"en-US\", name: \"en-US-Neural2-F\", ssmlGender: \"FEMALE\" },\n  es: { languageCode: \"es-US\", name: \"es-US-Neural2-B\", ssmlGender: \"MALE\" },\n  it: { languageCode: \"it-IT\", name: \"it-IT-Neural2-A\", ssmlGender: \"FEMALE\" }\n};\n\nconst selectedVoice = googleVoices[idiomaDetectado] || googleVoices.es;\n\n// F. LIMPIEZA PARA TTS (Igual que GenerArise)\nfunction cleanForTTS(text) {\n  if (!text) return \"\";\n  return text\n    .replace(/[\\u{1F600}-\\u{1F64F}\\u{1F300}-\\u{1F5FF}]/gu, \"\")\n    .replace(/(https?:\\/\\/[^\\s]+)/g, \"el enlace\")\n    .replace(/[\"*{}\\[\\]_]/g, \"\")\n    .trim();\n}\n\n// G. GENERAR MENSAJE TEXTO (Austria Content)\nif (accionFinal === \"agendar\") {\n  mensajeTexto = \"🔗 Agenda tu auditoria aqui:\\n\\nhttps://cal.com/gustavo-a.-dornhofer-nqjqos/auditoria-ia-gratuita-free-ai-audit-kostenloses-ki-audit\\n\\nElegi dia y horario. Duracion: 30 min\";\n}\nelse if (accionFinal === \"contacto\") {\n  mensajeTexto = \"Contacto directo:\\n\\n• WhatsApp: +54 9 11 7371-9972\\n• Email: agentes.space@gmail.com\\n\\nEn que mas puedo ayudarte?\";\n}\nelse if (accionFinal === \"derivar\") {\n  mensajeTexto = \"He notificado a un especialista humano sobre tu caso. Te contactaran a la brevedad.\";\n}\n\nreturn {\n  json: {\n    clean_voice: cleanForTTS(textoVoz),              \n    accion: accionFinal.toLowerCase().trim(),\n    mensaje_texto: mensajeTexto,\n    remote_jid: rawRemoteJid,\n    idioma: idiomaDetectado,\n    tts_language_code: selectedVoice.languageCode,\n    tts_voice_name: selectedVoice.name,\n    tts_gender: selectedVoice.ssmlGender\n  }\n};"
            },
            "id": "filtro-js-v9",
            "name": "Filtro V9 (GenerArise + Austria)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                224,
                416
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.accion }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "agendar"
                        },
                        {
                            "value2": "contacto"
                        },
                        {
                            "value2": "derivar"
                        }
                    ]
                }
            },
            "id": "switch-accion",
            "name": "Switch1 (Copia GenerArise)",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                528,
                240
            ]
        },
        {
            "parameters": {
                "resource": "messages-api",
                "instanceName": "USA",
                "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "messageText": "={{ $json.mensaje_texto }}"
            },
            "id": "evolution-text",
            "name": "Enviar texto (USA)",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                976,
                256
            ],
            "credentials": {
                "evolutionApi": {
                    "id": "mWJjZLDXsIhJxZcX",
                    "name": "USA"
                }
            }
        },
        {
            "parameters": {
                "text": "={{ $json.clean_voice }}",
                "languageCode": "={{ $json.tts_language_code }}",
                "voiceName": "={{ $json.tts_voice_name }}",
                "voiceGender": "MALE",
                "options": {}
            },
            "id": "tts-node",
            "name": "Generar Audio (TTS)",
            "type": "n8n-nodes-google-cloud-tts.googleCloudTts",
            "typeVersion": 1,
            "position": [
                544,
                416
            ],
            "credentials": {
                "googleCloudTtsApi": {
                    "id": "p6gzWofxOKTKQf2l",
                    "name": "Google Cloud Text-to-Speech account"
                }
            }
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "send-audio",
                "instanceName": "USA",
                "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
                "media": "={{ $json.audioData }}",
                "options_message": {}
            },
            "id": "enviar-audio",
            "name": "Enviar Audio (USA)",
            "type": "n8n-nodes-evolution-api.evolutionApi",
            "typeVersion": 1,
            "position": [
                976,
                416
            ],
            "credentials": {
                "evolutionApi": {
                    "id": "mWJjZLDXsIhJxZcX",
                    "name": "USA"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Filtro V9 (GenerArise + Austria)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtro V9 (GenerArise + Austria)": {
            "main": [
                [
                    {
                        "node": "Switch1 (Copia GenerArise)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Generar Audio (TTS)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch1 (Copia GenerArise)": {
            "main": [
                [
                    {
                        "node": "Enviar texto (USA)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar texto (USA)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar texto (USA)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generar Audio (TTS)": {
            "main": [
                [
                    {
                        "node": "Enviar Audio (USA)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}
